.App {
  text-align: center;
  min-height: 150vh;
  /* background-image: url("../src/images/playerBackground.jpeg");

  background-size: cover;
  background-position: center; */
  background-color: rgba(0, 0, 0, 0.614);
}
